 /*方案1*/
*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	min-width: 100px;
	font-family: "Microst Yahei";
	padding: 20px;
}

.content,.left,.middle,.right{
	border: 1px solid #999;
	padding: 20px;
	background-color: white;
}

.content{
	background-color: #eee;
	width: 100%;
	/*overflow: auto;该条语句可改变content块框的高度，使得其包住溢出的浮动块。*/
} 
/*也可以用以下方法代替overflow:auto，但当窗口调整到最窄时，效果会有些许不同;*/
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
 
.left{
	float: left;
	width: 200px;
}

.right{
	float: right;
	width: 120px;
}

.middle{
	margin-left: 220px;
	margin-right: 140px;	
	background-color: white;
} 

.filmName{
	float: right;
	width: 70px;
	font-weight: bold;
}
 
.member{
	padding-bottom: 20px;
}
  


 /*方案2（该方案只能让content块框的高度随中间内容区的高度变化）*/
/* *{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	min-width: 100px;
	font-family: "微软雅黑";
	padding: 20px;
}

.content,.left,.middle,.right{
	border: 1px solid #999;
	padding: 20px;
	background-color: white;
}

.content{
	background-color: #eee;
	width: 100%;
	position: relative;
	overflow: auto;该语句可以将溢出content块框的position:absolute元素被装入content块框中，但content块框的高度由其包含的未产生浮动效果的position:relative元素决定。
}
.content:after{
	content: "";
	display: block;
	clear: both;
}
该语句只对使用float时有效，对使用position:absolute时无效

.left{
	position: absolute;
	margin: 0px;
	width: 200px;
}


.right{
	position: absolute;
	right: 20px;
	width: 120px;
}

.middle{
	position: relative;
	margin-left: 220px;
	margin-right: 140px;	
	background-color: white;
} 

.filmName{
	float: right;
	width: 70px;
	font-weight: bold;
}
 
.member{
	padding-bottom: 20px;
}
  */